<div class="bg-secondary container">
  <div class="row p-5">
    <h1 class="h1 col-3">ProjectName</h1>
    <div class="col-3"></div>
    <div class="col-6">
      <form
        *ngIf="!passwordReset"
        #loginForm="ngForm"
        (submit)="submitLogin(loginForm.value)"
        class="form-inline"
      >
        <div class="form-group">
          <input
            ngModel
            class="form-control"
            #username="ngModel"
            required
            placeholder="Username"
            type="text"
            name="username"
          />
        </div>
        <div class="form-group">
          <input
            ngModel
            class="form-control"
            #password="ngModel"
            required
            placeholder="Password"
            type="pasword"
            name="password"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control btn btn-primary"
            [disabled]="!loginForm.valid"
            type="submit"
            value="submit"
          />
        </div>
      </form>
      <password-reset
        (onReset)="onReset($event)"
        *ngIf="passwordReset"
      ></password-reset>
      <a *ngIf="!passwordReset" (click)="togglePasswordReset()" href="#"
        >Reset Password</a
      >
      <a *ngIf="passwordReset" (click)="togglePasswordReset()" href="#"
        >Back to login</a
      >
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <about-us></about-us>
    </div>
    <div class="col-6">
      For sign-up
      <form
        #registerForm="ngForm"
        (submit)="submitRegisteration(registerForm.value)"
        class=""
      >
        <div class="form-group">
          <input
            ngModel
            class="form-control"
            #username="ngModel"
            required
            placeholder="username"
            type="text"
            name="username"
          />
        </div>
        <div class="form-group">
          <input
            ngModel
            class="form-control"
            #password="ngModel"
            required
            placeholder="Password"
            type="pasword"
            name="password"
          />
        </div>
        <div class="form-group">
          <input
            ngModel
            class="form-control"
            #email="ngModel"
            required
            placeholder="email"
            type="email"
            name="email"
          />
        </div>
        <div class="form-group">
          <input
            ngModel
            class="form-control"
            #firstName="ngModel"
            required
            placeholder="firstName"
            type="text"
            name="firstName"
          />
        </div>
        <div class="form-group">
          <input
            ngModel
            class="form-control"
            #lastName="ngModel"
            required
            placeholder="lastName"
            type="text"
            name="lastName"
          />
        </div>
        <div class="form-group">
          <input
            class="btn btn-primary form-control"
            [disabled]="!registerForm.valid"
            type="submit"
            value="Sign-up"
          />
        </div>
      </form>
    </div>
  </div>
</div>
