<div class="jumbotron">
  <div class="row">
    <h1 class="h1 col-3">Welcome</h1>
    <div class="col-3"></div>
    <div class="col-6">
      <form
        #loginForm="ngForm"
        (submit)="submitLogin(loginForm.value)"
        class=""
      >
        <input
          ngModel
          #username="ngModel"
          required
          placeholder="Username"
          type="text"
          name="username"
        />

        <input
          ngModel
          #password="ngModel"
          required
          placeholder="Password"
          type="pasword"
          name="password"
        />

        <input [disabled]="!loginForm.valid" type="submit" value="submit" />
      </form>
      <a>Reset My Password</a>
    </div>
  </div>
</div>
<div class="container">
  For sign-up
  <form
    #registerForm="ngForm"
    (submit)="submitRegisteration(registerForm.value)"
    class=""
  >
    <input
      ngModel
      #username="ngModel"
      required
      placeholder="username"
      type="text"
      name="username"
    />

    <input
      ngModel
      #password="ngModel"
      required
      placeholder="Password"
      type="pasword"
      name="password"
    />
    <br />
    <input
      ngModel
      #email="ngModel"
      required
      placeholder="email"
      type="email"
      name="email"
    />
    <br />
    <input
      ngModel
      #firstName="ngModel"
      required
      placeholder="firstName"
      type="text"
      name="firstName"
    />
    <br />
    <input
      ngModel
      #lastName="ngModel"
      required
      placeholder="lastName"
      type="text"
      name="lastName"
    />
    <br />
    <input [disabled]="!registerForm.valid" type="submit" value="Sign-up" />
  </form>
</div>
