<form
  #resetForm="ngForm"
  (submit)="submitReset(resetForm.value)"
  class="form-inline"
>
  <div class="form-group">
    <input
      ngModel
      class="form-control"
      #username="ngModel"
      required
      placeholder="Username"
      type="text"
      name="username"
    />
  </div>
  <div class="form-group">
    <input
      ngModel
      class="form-control"
      #passwordOld="ngModel"
      required
      placeholder="Old Password"
      type="password"
      name="passwordOld"
    />
  </div>
  <div class="form-group">
    <input
      ngModel
      class="form-control"
      #passwordNew="ngModel"
      required
      placeholder="New Password"
      type="password"
      name="passwordNew"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control btn btn-primary"
      [disabled]="!resetForm.valid"
      type="submit"
      value="submit"
    />
  </div>
</form>
