<h2 style="font-size: large;">Update Profile Information</h2>
<div class="row">
  <div class="col-4 text-center m-a">
    <div class="row container">
      <!-- <div [ngStyle]="picture" class="avatar"></div> -->
      <img
        *ngIf="!imagePreview"
        [src]="image"
        height="100px"
        width="100px"
        alt=""
      />
      <img
        *ngIf="imagePreview"
        [src]="imagePreview"
        height="100px"
        width="100px"
        alt=""
      />
    </div>
    <div>
      <form>
        <input
          type="file"
          id="fileInput"
          name="profilePic"
          accept="image/*"
          (change)="onFileChanged($event)"
        />
        <input type="submit" id="btn1" (click)="onUpload()" />
      </form>
    </div>
  </div>
 
<div class="UserInfo" id="userrInfo">
  First Name : {{user.firstName}}
  <br>
  Last Name : {{user.lastName}}
  <br>
  Username : {{user.username}}
  <br>
  Email : {{user.email}}
  <br>
  Bio : {{user.bio}}
</div>
<div class="UpdateInfo" id="updateInfoo">
  <p>Update User Information</p>
  <input type="text" placeholder="First Name" id="fName">
  <br>
  <input type="text" placeholder="Last Name" id="lName">
  <br>
  <textarea placeholder="Bio" rows="4" cols="50" id="thebio"></textarea>
  <br>
  <button type="submit" (click)="updateUserInfo()">Submit Changes</button>
</div>