<div class="row pb-2">
  <div class="col-3">
    <div class="text-center p-0 m-0 text-nowrap">
      {{ user.firstName + " " + user.lastName }}
    </div>
    <div [ngStyle]="picture" class="avatar"></div>
  </div>

  <div class="col-9">
    <form>
      <textarea
        class="form-control"
        [placeholder]="placeholderText"
        name="input"
        id=""
        cols="30"
        rows="4"
      ></textarea>
      <div class="container row">
        <div class="form-control col-6">
          <label for="image" class="text-center"
            >add image
            <input style="display: none;" type="file" name="image" id="image" />
          </label>
        </div>
        <input type="submit" class="form-control col-6" value="submit" />
      </div>
    </form>
  </div>
</div>
