<div class="container ht1 color1">
  Post Container Form
</div>
<div class="row pb-2">
  <div class="col-3">
    <div class="text-center">{{ user.fullName }}</div>
    <div [ngStyle]="picture" class="avatar"></div>
  </div>
  <div class="col-9">
    <form>
      <textarea
        class="form-control"
        placeholder="Please enter your post"
        name="input"
        id=""
        cols="30"
        rows="4"
      ></textarea>
      <input
        type="submit"
        class="btn btn-primary ht2 p-0 btn-block"
        value="submit"
      />
    </form>
  </div>
</div>
