.avatar {
  margin: 10px auto;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-size: cover;
}
.avatar-sm {
  margin: 5px auto;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size: cover;
}
.ht1 {
  height: 38px;
  border-radius: 5px;
}
.ht2 {
  height: 30px;
  border-radius: 5px;
}
.col-3 {
  min-width: 100px;
}
.row {
  flex-wrap: nowrap;
}

#postContainer {
  max-width: 600px;
  min-width: 500px;
}
textarea {
  width: -webkit-fill-available;
  resize: none;
}
.color1 {
  background-color: gray;
}
.color2 {
  background-color: lightgray;
}
