<div class="container border">
  <div class="row color2 ht2">
    <!-- <a class="col-3 close text-left pl-3" (click)="postToggled()">
      <span *ngIf="!showPost">^</span>
      <span *ngIf="showPost">v</span>
    </a> -->
    <div class="col-9">{{ post.date }}</div>
  </div>
  <div *ngIf="showPost">
    <div class="row">
      <div class="col-3">
        <div class="text-center">
          {{ post.username }}
        </div>
        <!-- <div [ngStyle]="picture" class="avatar"></div> -->
        <img
          [src]="'data:image/jpg;base64,' + post.picLink"
          height="100px"
          width="100px"
          alt=""
        />
      </div>

      <div class="col-9">
        <hr />
        <img
          [src]="'data:image/jpg;base64,' + post.image"
          height="100px"
          width="100px"
          alt=""
        />
        <div class="border">{{ post.post }}</div>
      </div>
    </div>

    <div class="row">
      <like-container
        [user]="user"
        [post]="post"
        class="col-6"
      ></like-container>
      <comments-toggle
        (toggled)="commentsToggled()"
        class="col-6"
        [post]="post"
      ></comments-toggle>
    </div>
  </div>

  <comment-container
    [user]="user"
    [post]="post"
    [comments]="post.comments"
    *ngIf="showComments"
  ></comment-container>
</div>
<div class="ht3 color2"></div>
