<div class="ht1 color1">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img src="" alt="Squaker" />
      </div>
      <div class="col-6 text-right">
        <a class="text-info" href="#">logout</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3">
      <button
        (click)="view = 'Feed'"
        [class.btn-info]="view == 'Feed'"
        class="form-control btn btn-secondary"
      >
        View My Feed
      </button>
      <button
        (click)="view = 'UpdateProfile'"
        [class.btn-info]="view == 'UpdateProfile'"
        class="form-control btn btn-secondary"
      >
        Update Profile
      </button>
      <button
        (click)="view = 'SearchNetwork'"
        [class.btn-info]="view == 'SearchNetwork'"
        class="form-control btn btn-secondary"
      >
        Search Network
      </button>
    </div>
    <div class="col-9">
      <div [ngSwitch]="view">
        <ng-template [ngSwitchCase]="'Feed'">
          <div class="">
            <post-container [user]="user" [postFeed]="posts"></post-container>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'UpdateProfile'">
          <div class="">
            <update-profile [user]="user"></update-profile>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'SearchNetwork'">
          <div class="">
            <profile-information [focus]="focus"></profile-information>
            <search-network [users]="users"></search-network>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
