<div class="ht1 color1 text-right">
  <a>logout</a>
</div>
<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="border">My profile toggle</div>
      <div class="border">
        modify info toggle
        <ul>
          <li>Upload Profile Pic</li>
        </ul>
      </div>
      <div class="border">search the network toggle</div>
    </div>
    <div class="col-9">
      <div class="border">
        Display this box if "My Profile" is selected
        <div>Profile Information Component</div>
        <post-container></post-container>
      </div>
      <div class="border">
        Display this box if "Modify Info" is selected
        <div>Modify Info Component</div>
      </div>
      <div class="border">
        Display this box if "Search Network" is selected
        <div>Search Network Component</div>
      </div>
      <div class="border">
        Display this box if "Search Network/userId" is selected
        <div>Users Profile Component</div>
      </div>
    </div>
  </div>
</div>
